.buy{
	background-color: orange;
	height: 50px;
	width: 100px;
}

.green{
	background-color: blue;
	height: 50px;
	width: 100px;

}

.blue{
	background-color: green;
	height: 50px;
	width: 100px;
}
.violet{
	background-color: violet;
}